.container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  padding-bottom: 1rem;
  @media (max-width: $mantine-breakpoint-md) {
    padding-top: 4rem;
  }
  @media (min-width: $mantine-breakpoint-md) {
    padding-top: 8rem;
  }
}

.main {
  flex: 1;
}

.footer {
  margin-top: 4rem;
}

.menu-container {
  position: fixed;
  padding: 2rem 0 1rem;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(0.1rem);
  display: flex;
  justify-content: center;
}

.burger {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 9000;
}

.menu-mb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
}

.menu-mb-opened {
  opacity: 1;
  visibility: visible;
}

.hidden-mobile {
  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.hidden-desktop {
  @media (min-width: $mantine-breakpoint-md) {
    display: none;
  }
}

/* root: {
  display: "flex",
  flexDirection: "column",
  minHeight: "100dvh",
  paddingBottom: "1rem",
  [theme.fn.smallerThan("md")]: {
    paddingTop: "4rem",
  },
  [theme.fn.largerThan("md")]: {
    paddingTop: "8rem",
  },
}, */
/* main: {
  flex: 1,
},
footer: {
  marginTop: "4rem",
}, */
/* menuContainer: {
  position: "fixed",
  padding: "2rem 0 1rem",
  width: "100%",
  top: 0,
  left: 0,
  backdropFilter: "blur(0.1rem)",
  display: "flex",
  justifyContent: "center",
},
burger: {
  position: "fixed",
  top: "0.5rem",
  right: "0.5rem",
  zIndex: 9000,
},
menuMb: {
  position: "fixed",
  top: 0,
  left: 0,
  width: "100vw",
  height: "100dvh",
  display: "flex",
  justifyContent: "center",
  alignItems: "center",
  opacity: 0,
  visibility: "hidden",
  transition: "0.2s ease",
},
menuMbOpened: {
  opacity: 1,
  visibility: "visible",
},
hiddenMobile: {
  [theme.fn.smallerThan("md")]: {
    display: "none",
  },
},
hiddenDesktop: {
  [theme.fn.largerThan("md")]: {
    display: "none",
  },
}, */
