.scrap-body {
  h2 {
    border-bottom: 1px solid var(--mantine-color-gray-7);
    padding-bottom: 8px;

    &::before {
      content: "## ";
      color: var(--mantine-color-gray-6);
    }
  }

  h3::before {
    content: "### ";
    color: var(--mantine-color-gray-6);
  }

  h4::before {
    content: "#### ";
    color: var(--mantine-color-gray-6);
  }

  a {
    color: var(--mantine-color-cyan-6);
  }

  [data-rehype-pretty-code-figure] {
    margin: auto 0;

    [data-rehype-pretty-code-title] {
      margin-left: 20px;
      padding: 6px 12px 0;
      border-radius: 4px;
      background-color: #282c34;
      color: #abb2bf;
      display: inline-block;
      border-top: 2px solid var(--mantine-color-gray-8);
      border-left: 2px solid var(--mantine-color-gray-8);
      border-right: 2px solid var(--mantine-color-gray-8);
      z-index: 10;

      & + pre {
        margin-top: -2px;
      }
    }

    pre {
      padding: 1rem;
      border-radius: 4px;
      margin: 0;
      border: 2px solid var(--mantine-color-gray-8);
    }

    code {
      counter-reset: line;
      overflow: auto;
      font-family: var(--font-roboto-mono);

      [data-line] {
        border-left: 3px solid transparent;

        &::before {
          counter-increment: line;
          content: counter(line);
          display: inline-block;
          width: 2rem;
          margin-right: 1rem;
          text-align: right;
          color: gray;
        }
      }

      [data-highlighted-line] {
        border-left: 3px solid var(--mantine-color-blue-7);
        background-color: var(--mantine-color-gray-7);
      }
    }
  }
}
