:root {
  --background: var(--mantine-color-dark-6);
  --foreground: var(--mantine-color-gray-4);
  --font-family: var(--mantine-font-family);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark;
}
