.container {
  position: relative;
  height: 100dvh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
  display: flex;
  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }
  @media (min-width: $mantine-breakpoint-md) {
    column-gap: 4rem;
  }
}

.stack {
  @media (max-width: $mantine-breakpoint-md) {
    align-items: center;
    text-align: center;
  }
}

.logo {
  width: 12rem;
  height: 12rem;
  @media (max-width: $mantine-breakpoint-md) {
    width: 8rem;
    height: 8rem;
  }
}

.footer {
  display: flex;
  @media (max-width: $mantine-breakpoint-md) {
    justify-content: center;
  }
  @media (min-width: $mantine-breakpoint-md) {
    justify-content: space-between;
  }
}

.powered-by {
  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}
