.container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  @media (min-width: $mantine-breakpoint-md) {
    align-items: stretch;
  }
}

.bottom {
  display: flex;
  @media (min-width: $mantine-breakpoint-md) {
    justify-content: space-between;
  }
}

.hidden-mobile {
  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}
